<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    {% block css %}{% endblock %}
</head>
    <body>

        {% include 'partials/header.twig' %}

        {% include content_view ~ '.twig' %}

        {% include 'partials/footer.twig' %}

        {% block js %}{% endblock %}

    </body>
</html>